apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: quote-api-staging
  namespace: argocd
spec:
  project: quote-api
  source:
    repoURL: https://github.com/tan-demo/demo-devops
    targetRevision: main
    path: charts/quote-api
    helm:
      valueFiles:
        - values.yaml
        - values/staging.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: quote-api-staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
